<div class="row">
	<div class="col-lg-8 mx-auto">
        <div class="frame">
            <%= link_to eventosbahai_questions_path(params[:eventosbahai_id]) do %> 
                <i class="material-icons">
                arrow_back
                </i>
            <% end %>
            <h1 style="text-align:center;">Nova Pergunta</h1>
            <%= render 'form', event: @event, question: @question %>
        </div>
    </div>
</div>