<div class="row">
	<div class="col-lg-8 mx-auto">
		<div class="frame">
            <h1 style="text-align:center;">Pergunta</h1>
            <%= @question.question %><br><br>
            <span class='text-muted'>As perguntas são automaticamente adicionadas no formulário de inscrição do Evento, e é possível enviar um E-mail com as perguntas para cada participante, caso alguns já tenham sido inscritos.<span>
        </div>
    </div>
</div>