
<div class="row">
    <div class="col-lg-8 mx-auto">
        <div class="frame">
            <h1 class="text-center">Editando Itinerário</h1>
            <%= render 'form', participant: @participant, itinerary: @itinerary %>
        </div>
    </div>
</div>