<div class="row">
	<div class="col-lg-8 mx-auto">
		<div class="frame">
			<h1 style="text-align:center;">Editando <%= @eventosbahai.name %></h1>

			<%= render 'form', eventosbahai: @eventosbahai %>
		</div>
	</div>
</div>
