<div class="container">
	<h1>Editando <%= @eventosbahai.name %></h1>

	<%= render 'form', eventosbahai: @eventosbahai %>

	<%= link_to 'Show', @eventosbahai %> |
	<%= link_to 'Back', eventosbahais_path %>
</div>
