
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <div class="frame">
        <h1 class="text-center">Eventos Bahá'ís</h1>

        <% if @eventosbahais.blank? %>
          <p class="text-muted p-5 m-5 text-center">Não há nenhum evento ainda.</p>
        <% end %>

        <table>
          <tbody>
              <% @eventosbahais.each do |eventosbahai| %>
                <%= eventosbahai.inspect %>
                <tr>
                  <td><%= link_to eventosbahai.name, partnew_path(eventosbahai), anchor: "section1" %>
                    <% if allow_content_by_user_role(eventosbahai) %>
                      <%= link_to 'Editar', edit_eventosbahai_path(eventosbahai) %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  

</div>

