<p id="notice"><%= notice %></p>

<h1>Eventosbahais</h1>

<table>

  <tbody>
    <% @eventosbahais.each do |eventosbahai| %>
      <tr>
        <td><%= link_to eventosbahai.name, partnew_path(eventosbahai) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Adicionar Evento', new_eventosbahai_path %>
