
<h1>Eventos Bahá'ís</h1>

<table>

  <tbody>
    <% @eventosbahais.each do |eventosbahai| %>
      <tr>
        <td><%= link_to eventosbahai.name, partnew_path(eventosbahai) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<% if admin? %>
  <%= link_to 'Adicionar Evento', new_eventosbahai_path %>
<%end %>
