<%= form_for(qualquernome) do |f| %>
  <% if qualquernome.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(qualquernome.errors.count, "error") %> prohibited this qualquernome from being saved:</h2>

      <ul>
      <% qualquernome.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
