
<div class="row">
  <div class="col-lg-8 mx-auto">
    <div class="frame">
      <h1 class="text-center">Cadastro</h1>

      <%= render partial: 'form' %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
