<h1><kbd>Contribuindo para a Melhora da Sociedade</kbd></h1>

<p class="dl-horizontal">A meta de construir uma nova civilização requer completa transformação no modo como a sociedade está organizada e também na conduta e no comportamento dos indivíduos. Em relação a isso, os ensinamentos de Bahá'u'lláh pretendem "efetuar uma transformação em todo o caráter da humanidade - uma transformação que se manifeste tanto exterior como interiormente, que afete sua vida íntima bem como suas condições externas".</p>

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/m-vWD8dI0Iw?rel=0&amp;showinfo=0"></iframe>
  </div>

<p>Para construir a civilização é essencial, portanto, <mark>aceitar que todos os povos do mundo, na verdade, de toda comunidade, são um só.</mark> O reconhecimento desta verdade vital tem muitas implicações na vida de uma comunidade e da sociedade em geral. Nesta época, todos os povos do mundo receberam a mesma medida do favor e da misericórdia do Deus uno e verdadeiro e, em toda a sua diversidade, participam do direito e do dever de contribuir para a criação de um novo mundo. Quando as relações entre os membros de uma comunidade, e entre esses e as instituições, são caracterizadas por amor e justiça, todos têm a oportunidade de usar seus atributos divinamente concedidos para promover o bem social. Quando o conhecimento espiritual e científico é acessível a todos, os membros da comunidade podem aprender juntos a aplicá-lo à sua vida coletiva. Isto é relacionado aos esforços dos bahá'ís na construção de comunidades,tema discutido na declaração anterior, que está se intensificando em muitos agrupamentos, vizinhanças e povoados no mundo todo. A mudança de cultura que estão promovendo é a evidência de como emerge uma nova sociedade a partir dos esforços de um crescente número de pessoas em aplicar na época atual os ensinamentos de Deus à vida de um número cada vez maior de comunidades.</p>


