<h1><kbd>Primórdios da Adolescência</kbd></h1>
<p>Por estarem entre os 12 e os 15 anos e representar a transição entre a infância e a juventude, os pré-

jovens passam por rápidas mudanças físicas, intelectuais e emocionais. Seus poderes espirituais se

expandem. Um novo nível de consciência fomenta neles um crescente interesse em questões profundas e em

seus talentos e habilidades. Suas “faculdades de observação se ampliam e se tornam profundas”,10 afirma

‘Abdu’l-Bahá, e suas capacidades intelectuais “são treinadas e despertadas”.11 Durante esse curto e decisivo

período de três anos, formam-se as ideias acerca do indivíduo e da sociedade, as quais bem podem moldar o

resto de suas vidas. No entanto, o encantamento com esses novos poderes é muitas vezes combinado com

sentimentos de angústia, desconforto e dúvida que podem produzir contradições no comportamento.

Portanto, nessa idade é necessário direcionar suas habilidades para um serviço abnegado à humanidade. Isto

requer que eles recebam o tipo certo de educação e estímulo; caso contrário, suas “qualidades serão

sufocadas na sórdida atmosfera do ego”.12</p>

<p>Algumas opiniões sobre pré-jovens não consideram esse período da vida de maneira positiva. Pontos

de vista populares, por exemplo, consideram essa idade cheia de confusão e crise. Tais pensamentos

promovem condições em que se propagam padrões indesejáveis de comportamento. Um entendimento

adequado dessa idade é o de jovens abnegados com “um agudo senso de justiça, anseio por aprender acerca

do universo e um desejo de contribuir para a construção de um mundo melhor”.13 As características

negativas que algumas vezes eles mostram certamente não são intrínsecas a esse estágio da vida humana.</p>

<p>A questão fundamental a se considerar, portanto, é o que são as fontes de padrões inaceitáveis de

comportamento que algumas vezes caracterizam alguns pré-jovens. Há dois fatores que requerem

consideração especialmente cuidadosa nesse sentido. Primeiro, o efeito de forças sociais negativas em muitas

comunidades fizeram com que se espalhassem vários males sociais que têm grande influência em como a

juventude vê a si própria e a sociedade. Segundo, pré-jovens são seriamente afetados pelo comportamento

dos adultos em relação a eles. Embora nesta idade os pré-jovens estejam ganhando percepções a respeito de

vários assuntos profundos, os adultos algumas vezes insistem em tratá-los como crianças. Além disso, a

diferença entre palavras e ações, algumas vezes exibidas por certos adultos, podem ser uma fonte de

confusão para os jovens que estão buscando padrões pelos quais moldar suas vidas.</p>

<p>Enfatizar o efeito que as forças sociais negativas exercem sobre pré-jovens não significa que os mais

novos sejam basicamente frágeis. Com ajuda, eles podem enfrentar essas forças. Podem desenvolver os

poderes da alma e da mente que não só lhes permitem transcender tais desafios, mas podem também fazer

4

deles colaboradores na construção de uma nova sociedade. Nesse sentido, a Casa Universal de Justiça pede

abordagens “que mobilizem seus interesses, moldem suas capacidades para o ensino e o serviço, e os

envolvam em uma interação social com jovens mais velhos”.14 Eles precisam de um ambiente que nutra

suas capacidades espirituais e inspire seu zelo por aprendizagem e ação significativa. O papel relacionado às

experiências do início da adolescência que jovens mais velhos podem desempenhar em criar tal atmosfera é

decisivo. Uma vez que frequentemente os pré-jovens os consideram como exemplos de como agir, os jovens

mais velhos são chamados à sagrada incumbência de ajudar seus companheiros mais jovens a fortalecerem

seus alicerces morais.</p>

<p>Nesse sentido, os jovens bahá’ís e seus amigos em muitas comunidades estão se comprometendo a

servir como animadores do programa de empoderamento espiritual de pré-jovens. O programa dá aos mais

jovens “as ferramentas necessárias para combater as forças que os privariam de sua verdadeira identidade

como seres nobres e para trabalhar pelo bem comum”.15 Num alegre e amistoso grupo de amigos que serve

como um ambiente de apoio mútuo, os pré-jovens estudam textos que apresentam vários conceitos

fundamentais. Eles são ajudados a aguçar sua percepção espiritual, identificar as forças que moldam a

sociedade e melhorar seus poderes de expressão, os quais, por sua vez, capacitam-nos a entender e descrever

com clareza o mundo à sua volta. Através de atos de serviço, eles aprendem juntos a contribuir de modo

concreto para o bem-estar da sociedade.</p>






