<div class="container">
	<h1><kbd>Promovendo Apoio e Assistência Mútuos</kbd></h1><p>
	<div class="embed-responsive embed-responsive-16by9">
	    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/foKIxPF0Agc?rel=0&amp;showinfo=0"></iframe>
	  </div></p>


	<p>Nesse sentido, os jovens bahá’ís e seus amigos em muitas comunidades estão se comprometendo a

	servir como animadores do programa de empoderamento espiritual de pré-jovens. O programa dá aos mais

	jovens “as ferramentas necessárias para combater as forças que os privariam de sua verdadeira identidade

	como seres nobres e para trabalhar pelo bem comum”.15 Num alegre e amistoso grupo de amigos que serve

	como um ambiente de apoio mútuo, os pré-jovens estudam textos que apresentam vários conceitos

	fundamentais. Eles são ajudados a aguçar sua percepção espiritual, identificar as forças que moldam a

	sociedade e melhorar seus poderes de expressão, os quais, por sua vez, capacitam-nos a entender e descrever

	com clareza o mundo à sua volta. Através de atos de serviço, eles aprendem juntos a contribuir de modo

	concreto para o bem-estar da sociedade.</p>
</div>
