<h1>Promovendo Apoio e Assistência Mútuos</h1>
<p>Sobre eles [os jovens] repousa também a

tarefa de promover um ambiente em que os membros mais jovens da sociedade possam alcançar os poderes

espirituais e intelectuais necessários para se tornarem construtores de uma nova civilização. Não há dúvida

de que a tarefa é gigantesca. De modo a contrapor as forças sociais poderosas que ameaçam minar seus

poderes e distorcer seu propósito, os jovens podem confiar na infalível ajuda divina. Eles devem também

aumentar a habilidade de criar uma atmosfera de apoio e assistência mútuos entre eles próprios e suas

comunidades, na qual se multiplicam seus poderes de transformar a sociedade.</p>


