<h1><kbd>A Juventude e a Construção de Comunidade</kbd></h1>
<p>A última sessão tratou da importância dos jovens apoiarem uns aos outros e avançarem juntos no

serviço à sociedade. Ficou claro que construir uma nova sociedade depende amplamente dos esforços

sinceros de um crescente número de pessoas que sejam capazes de “entrelaçar suas iniciativas individuais e

esforços coletivos em um padrão efetivo de ação unificada.”22 Em relação a isso, pede-se que vocês reflitam

sobre a contribuição que sua geração pode fazer na construção de comunidades vibrantes em vizinhanças e

povoados, e em outros ambientes em que são encontradas pessoas ávidas por desempenhar um papel na

transformação coletiva.</p>

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/napKVdhZ7rU?rel=0&amp;showinfo=0"></iframe>
  </div></p>

<p>Para considerar esta questão, é essencial recapitular rapidamente alguns elementos do marco para

ação que orienta os esforços da comunidade mundial bahá’í. A maioria das ações das comunidades bahá’ís

para construir uma nova sociedade, inspiradas pelos ensinamentos de Bahá’u’lláh, ocorrem no contexto do

agrupamento, uma área geográfica manejável que consiste em povoados e talvez uma pequena cidade ou

uma cidade grande com seus subúrbios. O objetivo principal em cada agrupamento é fortalecer, através da

aplicação de ensinamentos bahá’ís, os três principais protagonistas nos processos de mudança: o indivíduo, a

comunidade e as instituições. Este trabalho implica em aumentar, através do processo do instituto, números

crescentes de pessoas capazes de promover progresso espiritual e social; construir comunidades locais

vibrantes em que “indivíduos, famílias e instituições... [trabalham] juntos com um propósito comum para o

bem-estar das pessoas tanto dentro como além de suas fronteiras”23; e desenvolver instituições com a

capacidade de mobilizar, canalizar e unificar as energias de muitos amigos que estão ávidos por servir.

Agrupamentos estão invariavelmente em diferentes estágios de desenvolvimento em função do número e

eficácia daqueles que trabalham pela mudança e da força e do progresso das comunidades e instituições

locais. Em alguns deles, os esforços dos bahá’ís em construir uma nova sociedade ainda estão por começar.</p>
