<%= form_for(participant, :html => {:class => "form-horizontal center"}) do |f| %>
  <% if participant.errors.any? %>
    <% participant.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
  <% end %>

  <%= f.hidden_field :eventosbahai_id, :value => @eventosbahai_id %>

  <div style="text-align: center;">
      <%= f.submit @btname, class:'btn btn-success' %>  
  </div>
<% end %>
