<div id="confirmation"></div>
<div id="section1" class="container pt-5" style="margin-bottom:200px; border:0px;">

	<% if params[:error] %>

		<h1>Ops!</h1>
		<p>Desculpe, algo deu errado, você poderia voltar e tentar preencher novamente? Verifique se todos os campos foram preenchidos.
			Caso continue tendo problemas, entre em contato conosco.</p>

			<%= link_to "Voltar", partnew_path(params[:evid]) %>

	<% else %>

		<% if @sendemail == "1" && @emailveracity %>

			<h1 class="text-center">Obrigado <%= @participant.name %>!</h1>
			<p style="text-align: center;">Ficamos felizes com sua participação, enviamos um E-mail para <%= @participant.email %> com as principais informações.</p>

		<% else %>

			<h1>Obrigado <%= @participant.name %>!</h1>
			<p>Ficamos felizes com sua participação!</p>

		<% end %>
	        <div style="text-align:center;" class="center-text">
	        	<p style="margin-bottom: 10px;">Compartilhe com seus amigos</p>
				<!-- Go to www.addthis.com/dashboard to customize your tools -->
				<div class="addthis_inline_share_toolbox"></div>
				<!-- Go to www.addthis.com/dashboard to customize your tools -->
				<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5ad31109692e4b43"></script>

			</div>
		

	<% end %>

</div>

<script>

	slide("#section1");

</script>
