<div class="row">
	<div class="col-lg-8 mx-auto">
		<div class="frame">
            <h1 class="text-center">Quase lรก!</h1>
            <%= render 'form', participant: @participant %>
        </div>
    </div>
</div>