
<div class="row">
	<div class="col-lg-8 mx-auto">
		<div class="frame">
			<h1 class="text-center">Participantes</h1>

			<% unless @participants.blank? %>
				<ul class="list-inline mx-auto text-center">
					<li class="list-inline-item" style="display: inline-block;"><%= link_to "Crachás", badges_path, class:'btn btn-new m-1', id:'crachas' %></li>
					<li class="list-inline-item" style="display: inline-block;"><%= link_to "Lista de presença", listas_path, class:'btn btn-new m-1', id:'listapresenca' %></li>
				</ul>
			<% end %>

			<% unless (Eventosbahai.last.blank?) %>
				<%= form_tag partsev_path,  {id:'formcombo', remote:true } do |form| %>
					<%= collection_select :eventosbahais, :ids , current_user.eventosbahais.order('id desc').all, :id, :name, {include_blank: false, :selected => Eventosbahai.last.id},{class:'form-control btn btn-info'} %>
				<% end %>
			<% end %>
			<script>
				$(function() {
				$("#eventosbahais_ids").change(function() {
					$("#formcombo").submit();
						val = $('#eventosbahais_ids').val();
						$("#crachas").attr('href','/badges?locale=pt-BR&id='+val);
						$("#listapresenca").attr('href','/listas?locale=pt-BR&id='+val);
				});
				$(document).ready(function() {
						$("#formcombo").submit();
						val = $('#eventosbahais_ids').val();
						$("#crachas").attr('href','/badges?locale=pt-BR&id='+val);
						$("#listapresenca").attr('href','/listas?locale=pt-BR&id='+val);
				});
				});
			</script>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12 mx-auto">
		<div class="frame mx-auto text-center">
			<h1 class="text-center" id="eventosbahaijs"></h1>		
			<h4 class="text-center text-danger" id="eventoecerradojs"></h4>

				<table class="table-responsive" style="text-align: center; margin:0 auto;">
					<thead id="participantsheadjs">
					
					</thead>
					<tbody id="participantsjs">
					
					</tbody>
				</table>

		</div>
	</div>
</div>
