<div id="section1" class="container">
	<h1>Editando <%= current_user.name %></h1>
	<%= render 'form' %>

	
</div>


<script>
	

	var page = $("html, body");

	$(document).ready(function(e) {

		page.on("scroll mousedown wheel DOMMouseScroll mousewheel keyup touchmove", function(){
			page.stop();
		});

		page.animate({scrollTop: $("#section1").position().top }, 2000, function(){
			page.off("scroll mousedown wheel DOMMouseScroll mousewheel keyup touchmove");
		});
		return false;
	});



</script>

