<div class="container">
	<h1><kbd><%= @user_name %><kbd></h1>
	<%= @user_email %>
	<% if current_user == @user %>
		<ul>
			<li><%= link_to "Editar", edit_user_path(current_user) %></li>
			<li><%= link_to "Deletar Conta", @user, method: :delete %></li>
		</ul>
	<% end %>
</div>
