

<div class="container mt-5">

  <strong>Ei Guilherme!</strong> Quando tiver um tempinho, dê uma olhada nas <%= link_to "configurações" %> de envio. É fácil e rápido!

</div>

<div class="container container-main rounded-top mt-5">
  <div class="title-box">


    <div class="row">
      <div class="col-2" style="text-align: left;">
        <span id="title" >⚞ Documentos</span>
      </div>
      <div class="col-6" style="text-align: center;">

      </div>
      <div class="col-4" style="text-align: right;">
        <li class="list-inline-item"><%= link_to "Novo", new_jambodoc_path, class: "btn btn-new float-right" %></li>
      </div>
    </div>

  </div>

  <ul class="list-group">

    <% @jambodocs.each do |jambodoc| %>
      <li class="list-group-item list-group-item-action"><%= link_to jambodoc.title, jambodoc_path(jambodoc) %></li>
    <% end %>

  </ul>

</div>