Jovens Amigos
========================
Olá <%= @user.name %> <%= @user.lastname %>,
Agora você está entre os amigos que se esforçam dia e noite para transformar este mundo em um lugar melhor. Este formulário que você preencheu é uma pré-inscrição para a próxima Conferência de Juventude na sua região. Alguns dias antes te enviaremos um E-mail para confirmar sua participação.

Se você gostaria de estar por dentro de todas as atividades e eventos, <a href="#">clique aqui</a> para se cadastrar no Site.
Qualquer dúvidas estaremos a disposição,
Jovensamigos.org