Jovens Amigos
========================
Olá <%= @user.name %> <%= @user.lastname %>,

Se você gostaria de estar por dentro de todas as atividades e eventos, <a href="#">clique aqui</a> para se cadastrar no Site.
Qualquer dúvida estaremos a disposição,
Jambo Network