<div id="section1" class="container">
	<h1>Quem é Jambo?</h1>

	<p>É o que você deve estar se perguntando nesse exato momento. Para evitar delongas que deixaria
		nosso caro usuário na mão, Jambo é a cidade que aparece nos materiais da Conferência de Juventude, lembra?
		A cidade, na verdade, o nome evoca os esforços de uma pequena comunidade para melhorar as condições 
		espirituais e materiais de sua sociedade.</p>

	<p> Somos programadores do alto mar, piratas holandeses, <b>arrrrrrr</b>. E gostamos de desafios, e devo dizer que esse projeto
		junto com outros módulos vem direto da rede para você e sua comunidade. Sim, nós acreditamos no poder do 
		silício para ajudar a avançar a construção de capacidades e ajudar a resolver desafios específicos. Sim sim, os piratas só querem o bem da sua comunidade.</p>

	<p>Esperamos contudo e todavia, desenvolver novas funcionalidades gradativamente, a medida que o tempo e os recursos
			permitirem. Colaborações são bem vindas, e se você é programador e gostaria de contribuir, deixe-nos saber.</p>

	<p>Você está vendo essa fogueirinha aqui embaixo? Ela representa o .ninja do endereço www.jambo.ninja. Esse subdomínio não tem realmente relação com o nome "Jambo", mas o logotipo do Ninja permanece em nossas concepções e corações. Além disso, a fogueira é um local de encontro, "Fireside", lembra? Mas não faça isso em casa, quer dizer, se for Fireside faça sim. Acho que esse texto está ficando estranho. Cadê o Bill pra dar aquele Upgrade?</p>

	<p>Atenciosamente,<br>

	Equipe Jambo Network</p>


    <p>

	<p></p>

	
	<div class="embed-responsive embed-responsive-16by9" style="text-align:center;">
		<video class="embed-responsive-item" autoplay loop muted plays-inline width="480px" height="auto">
			<source src="/assets/asdf1.mp4" type="video/mp4">
		</video>
	</div>
</div>

<script>
	var page = $("html, body");

	$(document).ready(function(e) {

		page.on("scroll mousedown wheel DOMMouseScroll mousewheel keyup touchmove", function(){
			page.stop();
		});

		page.animate({scrollTop: $("#section1").position().top }, 2000, function(){
			page.off("scroll mousedown wheel DOMMouseScroll mousewheel keyup touchmove");
		});
		return false;
	});
</script>