<h1>Conferências de Juventude</h1>
<h2><kbd>O Período da Juventude</kdb></h2>
<p>As conferências da juventude reúnem jovens de diferentes idades e experiências. Muitos são

adolescentes que, por meio da escola, da família e da vida comunitária, estão se preparando para os deveres

da vida adulta. Outros são jovens mais velhos que podem estar na universidade ou trabalhando, casados ou

no processo de iniciar uma família. Em alguns, a condição social pode ter impingido obrigações de uma

idade bem mais adulta, e a sobrevivência de suas famílias pode já depender deles. Igualmente diversas são as

comunidades das quais eles provêm, variando desde pequenos povoados do mundo até as vizinhanças de

grandes centros urbanos, com milhões de habitantes.</p>

<p>Independente de sua condição social, a juventude aspira ao crescimento espiritual e intelectual e “fazer

uma contribuição ao destino da humanidade”.1 Eles possuem muitos poderes maravilhosos, e canalizá-los

devidamente é uma preocupação importante, pois, se mal orientados ou manipulados por outros, podem

causar muita angústia social. Entre os jovens do mundo se encontram os que estão suscetíveis à visão de

Bahá’u’lláh de um mundo espiritual e materialmente próspero. Engajar-se nos programas do instituto de

capacitação permite que eles se vejam trilhando o caminho de serviço. Ao longo desse caminho, eles

aumentam sua capacidade de aplicar os ensinamentos de Bahá’u’lláh à vida da sociedade. Entendem, como

afirmou ‘Abdu’l-Bahá, que nenhuma necessidade no mundo é “mais nobre do que o serviço ao bem

comum”,2 que “a mais elevada retidão” 3 é “levantar-se e devotar-se energicamente ao serviço às massas”.</p>

<p>No serviço abnegado à sociedade está a possibilidade tanto de crescimento pessoal como do aumento da

capacidade de contribuir para o progresso social. “Servir à humanidade é servir a Deus”,5 afirma ‘Abdu’l-Bahá.

Àqueles que se levantaram para o serviço, Ele exortou: “Deixai que o amor e a luz do Reino se irradiem através de vós

de modo que todo aquele que vos olhar seja iluminado pelo seu reflexo”.6 Ao direcionar seus talentos e habilidades

para a elevação da sociedade, eles se tornam “a causa de tranquilidade do mundo da criação”.7 À medida que

infundirem suas atividades do dia a dia com um espírito de generosa doação, e voluntariamente oferecerem atos de

serviço para o bem-estar dos outros, atrairão a ajuda e confirmações de Deus.</p>