
<div class="container container-edit rounded-top mt-5">
	<div class="title-box ">
	      <div class="row">
	        <div class="col-2" style="text-align: left;">
	       		Serviços
	        </div>
	        <div class="col-6">
	          <span id="title"></span>
	        </div>
	        <div class="col-4" style="text-align: right;">
	          <li class="list-inline-item"></li>
	          <li class="list-inline-item"></li>
	        </div>
	      </div>
	 </div>
     <div class="body">
     	<ul class="list-group">
     		<li class="list-group-item list-group-item-action"><%= link_to "Contatos", contacts_path %></li>
     		<li class="list-group-item list-group-item-action"><%= link_to "Eventos", eventosbahais_path %></li>
     		<li class="list-group-item list-group-item-action"><%= link_to "Documentos", jambodocs_path %></li>
     		<li class="list-group-item list-group-item-action"><%= link_to "Mídia", media_path %></li>

     	</ul>
	</div>
</div>
