<div class="container">
 <h1><kbd>Local</kbd></h1><br>	


			<b>Conferência de Juventude de Tangará da Serra - MT</b>
			<br>18 a 20 de novembro de 2017, início às 10 da manhã
			<br><b> Chácara Tradição - Rua dos Coqueiros s/nº, Jardim Aeroporto</b>
			

		
			</p>

		 
				


</div>

 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxpkK2nFUoZ51c3F7WJ-0OsUwk9Zd_iIM&callback=myMap"></script>

