
<%= link_to 'Back', contacts_path %>






<div class="container container-new rounded-top mt-5">
  <div class="title-box">

    <div class="row">
      <div class="col-2" style="text-align: left;">
        <%= link_to "◄", contacts_path, class: "btn btn-new" %>
      </div>
      <div class="col-6 text-center">
        <span id="title" style="text-align: center;">Novo Contato</span>
      </div>
      <div class="col-4" style="text-align: right;">
        <li class="list-inline-item"><%= button_tag "Concluir", id: "save", class: "btn btn-new float-right", form: "new_contact" %></li>
      </div>
    </div>


  </div>
  <div class="body">

 <%= render 'form', contact: @contact %>
  </div>

  <div class="footer text-right text-muted">
    <div class="row mt-2">
      <div class="col" style="text-align: left;"><small id="saved"></small></div>
      <div class="col" style="text-align: right;">
        <li class="list-inline-item">
       
        </li>
      </div>
   </div>
  </div>

</div>


<script>



  // Document Animation
  $('.form-title').hide().fadeIn(500);
  $('.form-text').hide().delay(500).fadeIn(500);
  $('#send').hide().delay(1000).fadeIn(500);
  $( '.container-new' ).animate({minHeight: "530px"}, 500);



</script>
