
<%= select_tag :function_id, options_for_select(AdministrativeFunction.all.collect { | adm_function | [adm_function.name, adm_function.id] }), { class: 'form-control' } %>

<div id="participants">

</div>

<script>

    function ajax_region(function_id) {
        const url = '/admin/ajax_function/' + <%= params[:id] %>
        $.ajax({
            url: url,
            type: 'GET',
            data: {
                function_id: function_id,
            }
            }).done(function(result) {
                if(typeof result !== "undefined") {
                    console.log(result);
                }
            })
    }

    $("#function_id").on('change', function() {
        const function_id = $(this).val();
        console.log(function_id);
        ajax_region(function_id);
    });

</script>