<h1>Bem Vindos</h1>

<p style="text-indent:0em;">Preencha o formulário se deseja participar da próxima Conferência de Juventude da sua cidade.</p>

</br>

<div class="row">
	<div class="col-lg-6" >
		<%= render 'form', bemvindo: @bemvindo %>
	</div>
</div>


