<h1>Obrigado por se inscrever</h1>
<p>Um E-mail para confirmação será enviado alguns dias antes da próxima conferência.</p>
<p>
  <strong>Nome:</strong>
  <%= @bemvindo.name %>
</p>

<p>
  <strong>Sobrenome:</strong>
  <%= @bemvindo.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @bemvindo.email %>
</p>

<p>
  <strong>Comentários:</strong>
  <%= @bemvindo.comments %>
</p>

