<h1>Editing Administrative Region</h1>

<%= render 'form', administrative_region: @administrative_region %>

<%= link_to 'Show', @administrative_region %> |
<%= link_to 'Back', administrative_regions_path %>
