<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @participant_role.name %>
</p>

<%= link_to 'Edit', edit_participant_role_path(@participant_role) %> |
<%= link_to 'Back', participant_roles_path %>
