<div class="row">
  <div class="col-lg-8 mx-auto">
    <div class="frame">
        <h1 class="text-center">Nova Função Administrativa</h1>

        <%= render 'form', administrative_function: @administrative_function %>

        <div class="text-center p-3">
         <%= link_to 'Voltar', administrative_functions_path %>
        </div>
      </div>
    </div>
</div>
