<div class="row">
  <div class="col-lg-8 mx-auto">
    <div class="frame">
        <p>
        <strong>Nome da Função:</strong>
        <%= @administrative_function.name %>
        </p>

        <div class="text-center p-3">
          <%= link_to 'Editar', edit_administrative_function_path(@administrative_function) %> |
          <%= link_to 'Voltar', administrative_functions_path %>
        </div>
      </div>
    </div>
</div>
