
@import "bootstrap-sprockets";
@import "bootstrap";


$height-footer: 60px;
$dark: #000;
html {
	min-height:100%;
	position: relative;

	body {
		width: 100%;
		padding: 0px;
		background: #ffffff;
		height:100%;
		
	}


	footer {
		bottom:0;
		width:100%;
		position: absolute;
		height: $height-footer;
		background-color: #fff5f5;
		.footer-block {
			margin: 20px 0;
		}
	}
	.container {
		margin-top:100px;
	}
	.dropdown-menu {
		width:310px;
	}

	#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
	}
	#login-dp .help-block{
	    font-size:12px    
	}
	#login-dp .bottom{
	    background-color:rgba(255,255,255,.8);
	    border-top:1px solid #ddd;
	    clear:both;
	    padding:14px;
	}
	#login-dp .social-buttons{
	    margin:12px 0    
	}
	#login-dp .social-buttons a{
	    width: 49%;
	}
	#login-dp .form-group {
	    margin-bottom: 10px;
	}
	.btn-fb{
	    color: #fff;
	    background-color:#3b5998;
	}
	.btn-fb:hover{
	    color: #fff;
	    background-color:#496ebc 
	}
	.btn-tw{
	    color: #fff;
	    background-color:#55acee;
	}
	.btn-tw:hover{
	    color: #fff;
	    background-color:#59b5fa;
	}
	@media(max-width:768px){
	    #login-dp{
	        background-color: inherit;
	        color: #fff;
	    }
	    #login-dp .bottom{
	        background-color: inherit;
	        border-top:0 none;
	    }
	}
}
