// Place all the styles related to the Bemvindos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.date select.date.form-control {
	width: auto;
}
.insc {



		background: rgb(255,255,255);
		background: rgba(255,255,255,.8) !important;
		float: right;
		margin-right: 150px !important;
		max-width: 500px !important;
		border: 0 !important;
		z-index: 0;

		.help-block {
			color: #ccc
		}

	}