// Place all the styles related to the jambodocs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@font-face {
  font-family: "Gotham Bold";
  src: asset-url('fonts/GothamRoundedBook_21018.ttf') format("ttf");
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {

  background-color: #edeff0 !important;
  text-rendering: optimizeLegibility;
  font-family: 'Comfortaa', helvetica;
}

td {
  padding: 10px !important;
}


a {
  transition: color 300ms 0s ease;
  text-decoration: none !important;
}
a:hover {
  text-decoration: none !important;
}
ul {

  list-style-type: none;

}
.navbar {
  font-weight: bold;
  background-color: #3e474f;
  height: 71px;
  margin-bottom: -20px;
}
.navbar-nav .dropdown-menu {
  background-color: #3e474f;
  color: #b2bbbd;
}
.navbar-collapse {
  background-color:  #3e474f; 
}

.dropdown-item:hover, .dropdown-item:focus {
  color: #fff;
  text-decoration: none;
  background-color: #3e474f;
}
.dropdown a {
  color:white;
}
.nav-link {
  margin-left: 10px;
  margin-right: 10px;
  display: block;
  color: #b2bbbd;
  transition: opacity 600ms 0s ease;
}

.nav-link:hover {
  color: #fff !important;
}

.nav-link:focus {
  color: #fff !important;
}



.container {
  
  width:800px;

  z-index: 1;
  margin-top:10px;

  width:800px;
  max-width: 99%;
  padding: 20px 50px 30px 50px;

  border: 1px #eaeaea solid;
  border-radius: 3px;
  margin-bottom: 30px !important;
}

@media only screen and (max-width: 768px) {
  .container {
    .title-box {
      margin: -5px !important;
      margin-bottom: 30px !important;
      padding-left:3px !important;
    }
    margin-left:0px;
    margin-right: 0px;
    padding: 5px;
  }
}

h1 {
  padding-bottom: 1.5em;
  padding-top: .5em;
}

@import url('https://fonts.googleapis.com/css?family=Share&display=swap');
.frame-subscription {
    font-family: 'Share', cursive;
    border: 4px solid;
    border-color: #3079AB;
    background-color: #fff;
    width: 100%;
    padding: 2em;
    margin-bottom: 2em;
}

.frame {
    border-top: 4px solid;
    border-top-color: #3079AB;
    background-color: #fff;
    width: 100%;
    padding: 2em;
    margin-bottom: 2em;
  }

  .list-info li {
    padding-top: 1em;
  }

  .vertical-align {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
  }

.container-main {
   min-width: 90%;
   min-height: 70vh;

    a {
      color: #6c757d;
    }

    a:hover {
      color: #3079AB !important;
      text-decoration: none;
    }


  .title-box {
    color: #3079AB;
    background-color: #f9fafa;
    margin: -20px -50px 30px -50px;
    padding: 10px 50px 10px 50px;
    border-bottom: .5px solid #efefef !important;
  }


  .list-group-item {
    border: 0px;

  }

  .list-group-item-action:hover, .list-group-item-action:focus {
    background-color:inherit;
    color: #4d76d3;
  }

  .btn-new {
    display: inline-block;
    border: 2px solid rgba(48,73,97,0.1);
    border-radius: 10px;
    text-align: center;

    color: #3079AB;
    font-weight: 500;
    background: transparent;
    padding: 0 12px;
    white-space: nowrap;
    line-height: 32px;
    transition: border-color 0.15s ease, background-color 0.15s ease, color 0.15s ease;
  }
  .btn-new:hover {
    color: #3079AB !important;
    border-color: #3079AB;
  }
}

.container-show {

  border-top: 4px solid;
  border-top-color: #7ceb31;

  min-width: 70%;
  min-height: 400px;

  a {
    color: #6c757d;
  }

  a:hover {
    color: #3079AB !important;
    text-decoration: none;
  }


  .title-box {
    color: #7ceb31;
    background-color: #f9fafa;
    margin: -20px -50px 30px -50px;
    padding: 10px 50px 10px 50px;
    border-bottom: .5px solid #efefef !important;
  }
  .list-group-item {
    border: 0px;

  }
  .list-group-item-action:hover, .list-group-item-action:focus {
    background-color:inherit;
    color: #4d76d3;
  }

  .btn-new {
    display: inline-block;
    border: 2px solid rgba(48,73,97,0.1);
    border-radius: 10px;
    text-align: center;

    color: #7ceb31;
    font-weight: 500;
    background: transparent;
    padding: 0 12px;
    white-space: nowrap;
    line-height: 32px;
    transition: border-color 0.15s ease, background-color 0.15s ease, color 0.15s ease;
  }
  .btn-new:hover {
    color: #7ceb31 !important;
    border-color: #7ceb31;
  }
}

.container-new {

  border-top: 4px solid;
  border-top-color: #00eb7f;

  min-width: 70%;
  min-height: 100px;

  a {
    color: #6c757d;
  }

  a:hover {
    color: #3079AB !important;
    text-decoration: none;
  }


  .title-box {
    color: #7ceb31;
    background-color: #f9fafa;
    margin: -20px -50px 30px -50px;
    padding: 10px 50px 10px 50px;
    border-bottom: .5px solid #efefef !important;
  }
  .list-group-item {
    border: 0px;

  }
  .list-group-item-action:hover, .list-group-item-action:focus {
    background-color:inherit;
    color: #4d76d3;
  }

  .btn-new {
    display: inline-block;
    border: 2px solid rgba(48,73,97,0.1);
    border-radius: 10px;
    text-align: center;

    color: #00eb7f;
    font-weight: 500;
    background: transparent;
    padding: 0 12px;
    white-space: nowrap;
    line-height: 32px;
    transition: border-color 0.15s ease, background-color 0.15s ease, color 0.15s ease;
  }
  .btn-new:hover {
    color: #00eb7f !important;
    border-color: #00eb7f;
  }

}

.container-edit {

  border-top: 4px solid;
  border-top-color: #ebba26;

  min-width: 70%;
  min-height: 400px;

  a {
    color: #6c757d;
  }

  a:hover {
    color: #3079AB !important;
    text-decoration: none;
  }


  .title-box {
    color: #EBBA26;
    background-color: #f9fafa;
    margin: -20px -50px 30px -50px;
    padding: 10px 50px 10px 50px;
    border-bottom: .5px solid #efefef !important;
  }
  .list-group-item {
    border: 0px;

  }
  .list-group-item-action:hover, .list-group-item-action:focus {
    background-color:inherit;
    color: #4d76d3;
  }

  .btn-new {
    display: inline-block;
    border: 2px solid rgba(48,73,97,0.1);
    border-radius: 10px;
    text-align: center;

    color: #EBBA26;
    font-weight: 500;
    background: transparent;
    padding: 0 12px;
    white-space: nowrap;
    line-height: 32px;
    transition: border-color 0.15s ease, background-color 0.15s ease, color 0.15s ease;
  }
  .btn-new:hover {
    color: #EBBA26 !important;
    border-color: #EBBA26;
  }
}

.doc-footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin: 20px -50px -30px -50px;
  background-color: #f9fafa;
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  .doc-footer {
    margin: 20px -50px -30px -5px;
  }
}

.btn-send {
  display: inline-block;
  border: 2px solid rgba(48,73,97,0.1);
  border-radius: 10px;
  text-align: center;

  color: #23558e;
  font-weight: 500;
  background: transparent;
  padding: 0 12px;
  white-space: nowrap;
  line-height: 32px;
  transition: border-color 0.15s ease, background-color 0.15s ease, color 0.15s ease;
}
.btn-send:hover {
  color: #23558e!important;
  border-color: #23558e;
}

.bottom-nav {

  background-color: #f9fafa;
  border-top: .05rem #e4e4e4 solid;
  border-bottom: .05rem #e4e4e4 solid;
  font-size: 90%;
  margin-bottom:20px;
  margin-top: -30px;
  margin-left: -50px;
  margin-right: -50px;
  padding: 3px;

}

.tool-dropdown {
    background-color: #f9fafa !important;
    left: -50px !important;
    padding: inherit;
    min-width: 30px;
  font-size: 90%;

}
.tool-dropdown-item {
  margin-left:-10px;
}
.tool-dropdown-item:hover {
  background-color: transparent !important;
  color:#000;
}

.jambodoc-input-new {
  min-height: 300px;
  margin-top: 5px;
}



.form-control {
  border-radius: 0.15rem;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.05rem rgba(0, 123, 255, 0.25);
}


.card {
  background-color: #576366 !important;
  min-width: 90%;
  min-height: 500px;
}

footer {

  font-weight: bold;
  background-color: #3e474f;
  height: 71px;
  margin-bottom: -20px;
  color: #b2bbbd;

  a {
    color: white;
  }
  a:hover {
    color: white;
  }

}

