<p>Ol치 <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  
  <p>Estamos te contactando para notific치-lo de que seu E-mail est치 sendo mudado para <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Estamots te contactando para notific치-lo de que seu E-mail foi alterado para <%= @resource.email %>.</p>
<% end %>
