<p>Olá <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p>Alguém requisitou um link para alterar sua senha. Você pode fazer isso através do link abaixo.</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou nada disso, por favor ignore este E-mail.</p>
<p>Sua senha não será alterada a não ser que você acesse o link abaixo para criar uma outra.</p>
