<div class="row">
	<div class="col-lg-8 mx-auto">
		<div class="frame">

            <h1 style="text-align:center;">Editando <%= @user_profile.name %></h1>

            <%= render 'form', user_profile: @user_profile %>
        </div>
    </div>
</div>
