<h1>Editing Conferenciasdeunidade</h1>

<%= render 'form', conferenciasdeunidade: @conferenciasdeunidade %>

<%= link_to 'Show', @conferenciasdeunidade %> |
<%= link_to 'Back', conferenciasdeunidades_path %>
