<footer class="mainfooter font-small p-4 blue mt-4 mb-0">
  <div class="container-fluid">
    <div class="footer-copyright text-center">

      <span class="text-muted" style="font-size:80% !important;"> © 2018 Copyright Jambo Network</span>
    </div>
  </div>
</footer>
