
<ul>
  <li><%= link_to 'Principal', root_path %></li>
  <li><%= link_to 'Inscrição', new_bemvindo_path %></li>
  <li><%= link_to 'Temas', my_themes_path('themes') %></li>
  <li><%= link_to 'Sobre', my_about_path('about') %></li>
</ul>