<% if is_admin? %>
    <div class="text-center"">
        <ul class="list-inline">
            <li class="list-inline-item"><%= link_to "Criar Evento", new_eventosbahai_path, class:'btn btn-new' %></li>
            <li class="list-inline-item"><%= link_to 'Eventos', eventosbahais_path, class: 'btn btn-new' %></li>
            <% unless Participant.all.blank? %>
                <li class="list-inline-item"><%= link_to "Participantes", participants_path, class:'btn btn-new' %></li>
            <% end %>
        </ul>
    </div>
<% end %>
