<!DOCTYPE html>
<html>
  <head>
    <title>Jambo Network</title>
    

      <%= render partial: 'layouts/metatags' %>

  </head>
  <body>

     <%= render "layouts/evnav" %>


     <div class="content" style="min-height: 100vh">
        <div class="container container-main rounded-top mt-5 mx-auto">
          <%=yield %>
       </div>
     </div>

     <%= render "layouts/footer" %>

  </body>
</html>

